@media (max-width: 48em) {
  .hamburger {
    display: block;
    z-index: 9999;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-list--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0a2647;
    z-index: 100;
  }
}
